@model AddAddNewForeignCvRequest
@{
    ViewBag.Title = "View CV";
    var personalimg = Model.cvAttachments.Where(p => p.AttachmentType.TypeName == cvAttachmentType.PersonalPhoto.ToString()).FirstOrDefault();
    var posterimg = Model.cvAttachments.Where(p => p.AttachmentType.TypeName == cvAttachmentType.PosterPhoto.ToString()).FirstOrDefault();
    var passportimg = Model.cvAttachments.Where(p => p.AttachmentType.TypeName == cvAttachmentType.PassportCopy.ToString()).FirstOrDefault();

    string logo = null;
    if (HttpContextAccessor.HttpContext.Session.GetObject<RootCompanyDto>("RootCompany") != null
    && signInManager.IsSignedIn(User) && signInManager.Context.User.IsInRole(Roles.Admin))
    {
        logo = HttpContextAccessor.HttpContext.Session.GetObject<RootCompanyDto>("RootCompany").RootCompanyLogo;
    }
    else
    if (HttpContextAccessor.HttpContext.Session.GetObject<ForegnAgentDto>("ForeignAgent") != null)
    {
        logo = HttpContextAccessor.HttpContext.Session.GetObject<ForegnAgentDto>("ForeignAgent").ForeignAgentLogo;
    }
    else
    if (HttpContextAccessor.HttpContext.Session.GetObject<LocalAgentDto>("LocalAgent") != null
    && signInManager.IsSignedIn(User) && signInManager.Context.User.IsInRole(Roles.LocalAgent))
    {
        logo = HttpContextAccessor.HttpContext.Session.GetObject<LocalAgentDto>("LocalAgent").LocalAgentLogo;
    }
    else
    {
        if (Model.cvHRpool.LocalAgent is not null)
        {
            logo = Model.cvHRpool.LocalAgent.LocalAgentLogo;
        }
    }

    string txtAllign = "";
    if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
    {
        txtAllign = "right";
    }
    else
    {
        txtAllign = "left";
    }
}

<!-- ========== Dashboard Area end============= -->
<div class="dashboard-area pt-120 mb-120">
    <div class="container">
        <div class="row justify-content-center g-lg-4 gy-5 mb-90">
            <div class="col-lg-10">
                <div class="resume-area">
                    
                    <div class="row g-4 mb-40">
                        <div class="col-lg-8">
                            <div class="author-area">
                                <div class="author-img">
                                    <img src="@personalimg.Path" alt="">
                                </div>
                                <div class="name-degination">
                                    <h4>
                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @Model.cv.CandidateNameArabic
                                        }
                                        else
                                        {
                                            @Model.cv.CandidateNameEnglish
                                        }
                                    </h4>
                                    <span>
                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @Model.cv.Designation.DesignationArabic
                                        }
                                        else
                                        {
                                            @Model.cv.Designation.DesignationEnglish
                                        }

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="author-area">
                                <div class="author-img">
                                    <img src="@logo" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="single-information-area">
                           
                            <div class="row">
                                <div class="informations">
                                    <table style="height: 203px; width: 100%; border-collapse: collapse; border-style: solid;" border="2">
                                        <tbody>
                                            <tr style="height: 18px;">
                                                <td style="height: 5px; background-color: #34eb71; width: 113.409%; text-align: center;" colspan="6"><strong>@localizer["PersonalInformation"]</strong><strong><br /></strong></td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="width: 17.6705%; height: 18px;"><strong>@localizer["FullName"]:</strong></td>
                                                <td style="width: 31.0228%; height: 18px;">&nbsp;
                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        if (Model.cv.CandidateNameArabic is not null)
                                                        {
                                                            @Model.cv.CandidateNameArabic
                                                        }
                                                        else
                                                        {
                                                            @Model.cv.CandidateNameEnglish
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @Model.cv.CandidateNameEnglish
                                                    }
                                                </td>
                                                <td style="width: 15.8238%; height: 18px;"><strong>@localizer["DateofBirth"]:</strong></td>
                                                <td style="height: 18px; width: 48.8923%;" colspan="3">&nbsp;
                                                    @Model.cv.DateOfBirth.Value.ToString("dd/MM/yyyy")
                                                </td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="width: 17.6705%; height: 18px;"><strong> @localizer["MaritalStatus"]:</strong></td>
                                                <td style="width: 31.0228%; height: 18px;">&nbsp;
                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @Model.cv.martialArabic
                                                    }
                                                    else
                                                    {
                                                        @Model.cv.martial
                                                    }
                                                </td>
                                                <td style="width: 15.8238%; height: 18px;"><strong>@localizer["Religion"]:</strong></td>
                                                <td style="width: 48.8923%; height: 18px;" colspan="3">&nbsp;
                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @Model.cv.ReligionArabic
                                                    }
                                                    else
                                                    {
                                                        @Model.cv.Religion
                                                    }
                                                </td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="width: 17.6705%; height: 18px;"><strong>@localizer["Nationality"]:</strong></td>
                                                <td style="width: 31.0228%; height: 18px;">&nbsp;
                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @Model.cv.NationalityArabic
                                                    }
                                                    else
                                                    {
                                                        @Model.cv.Nationality
                                                    }
                                                </td>
                                                <td style="width: 15.8238%; height: 18px;"><strong>@localizer["Gender"]:</strong></td>
                                                <td style="width: 48.8923%; height: 18px;" colspan="3">&nbsp;
                                                    @if (Model.cv.Gender == 0)
                                                    {
                                
                                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                        {
                                                            <text>ذكر</text>
                                                        }
                                                        else
                                                        {
                                                            @Gender.Male.ToString()
                                                        }

                                                    }
                                                    @if (Model.cv.Gender == 1)
                                                    {

                                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                        {
                                                            <text>انثى</text>
                                                        }
                                                        else
                                                        {
                                                            @Gender.Female.ToString()
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="width: 17.6705%; height: 18px;"><strong>@localizer["Height"]:</strong></td>
                                                <td style="width: 31.0228%; height: 18px;">&nbsp;@Model.cv.Height</td>
                                                <td style="width: 15.8238%; height: 18px;"><strong>@localizer["Age"]:</strong></td>
                                                <td style="width: 48.8923%; height: 18px;" colspan="3">&nbsp;@Model.cv.Age</td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="width: 17.6705%; height: 18px;"><strong>@localizer["Weight"]:</strong></td>
                                                <td style="width: 95.7389%; height: 18px;" colspan="5">&nbsp;@Model.cv.Weight KG</td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="background-color: #34eb71; text-align: center; height: 18px; width: 113.409%;" colspan="6"><strong>&nbsp;@localizer["EducationalQualification"]</strong><strong><br /></strong></td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="width: 17.6705%; height: 18px;"><strong>@localizer["Education"]</strong></td>
                                                <td style="height: 18px; text-align: @txtAllign; width: 95.7389%;" colspan="5">
                                                    &nbsp;
                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @Model.cv.Education.EducationArabic
                                                    }
                                                    else
                                                    {
                                                        @Model.cv.Education.EducationEnglish
                                                    }
                                                </td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="background-color: #34eb71; text-align: center; height: 18px; width: 113.409%;" colspan="6"><strong>&nbsp;@localizer["Language"]</strong><strong><br /></strong></td>
                                            </tr>
                                            <tr style="height: 18px;text-align: @txtAllign">
                                                @{
                                                    var arabic = localizer["no"];
                                                    var english = localizer["no"];
                                                    if ((bool)Model.cv.ArabicLanguage)
                                                    {
                                                        arabic = localizer["yes"];
                                                    }

                                                    if ((bool)Model.cv.EnglishLanguage)
                                                    {
                                                        english = localizer["yes"];
                                                    }
                                                }
                                                <td style="width: 17.6705%; height: 18px;"><strong>@localizer["Arabic"]:</strong></td>
                                                <td style="width: 31.0228%; height: 18px; text-align: @txtAllign">&nbsp;@arabic</td>
                                                <td style="width: 15.8238%; height: 18px;"><strong>@localizer["English"]:</strong></td>
                                                <td style="width: 48.8923%; height: 18px; text-align: @txtAllign" colspan="3">&nbsp;@english</td>
                                            </tr>
                                            @if (Model.previousEmployment is not null)
                                            {
                                                if (Model.previousEmployment.Any())
                                                {
                                            <tr style="height: 18px;">
                                                <td style="background-color: #34eb71; text-align: center; height: 18px; width: 113.409%;" colspan="6">
                                                    <strong>&nbsp;@localizer["PreviousEmployments"]
                                                    </strong><strong><br />
                                                        </strong>
                                                        </td>
                                            </tr>
                                            <tr style="height: 18px;">
                                               
                                                        @foreach (var prev in Model.previousEmployment)
                                                        {
                                                        <td style="width: 17.6705%; height: 18px;"><strong>@localizer["Country"]:</strong></td>
                                                            <td style="width: 31.0228%; height: 18px; @txtAllign">&nbsp;
                                                            @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                            {
                                                                @prev.CountryOfEmployment.NameArabic
                                                            }
                                                            else
                                                            {
                                                                @prev.CountryOfEmployment.NameEnglish
                                                            }
                                                            </td>

                                                        <td style="width: 15.8238%; height: 18px;"><strong>@localizer["Position"]:</strong></td>
                                                            <td style="width: 13.0682%; height: 18px; @txtAllign">&nbsp;
                                                                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                                {
                                                                    @prev.Position.DesignationArabic
                                                                }
                                                                else
                                                                {
                                                                    @prev.Position.DesignationEnglish
                                                                }
                                                                
                                                            </td>

                                                        <td style="width: 8.53706%; text-align: left; height: 18px;"><strong>@localizer["Period"]:</strong></td>
                                                            <td style="width: 27.287%; @txtAllign; height: 18px;">&nbsp;
                                                                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                                {
                                                                    @prev.Period.ToString()
                                                                    <text> </text>
                                                                    @localizer["Year"]
                                                                }
                                                                else
                                                                {
                                                                    @prev.Period
                                                                    <text> </text>
                                                                    @localizer["Year"]
                                                                }
                                                            </td>
                                                        }
                                                    
                                                
                                            </tr>
                                                    }
                                                }

                                            @if (Model.skillList is not null)
                                            {
                                                if (Model.skillList.Any())
                                                {
                                            <tr style="height: 18px;">
                                                <td style="background-color: #34eb71; text-align: center; height: 18px; width: 113.409%;" colspan="6"><strong>&nbsp;@localizer["SpecialSkills"]</strong><strong><br /></strong></td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                
                                                    
                                                        @foreach (var skill in Model.skillList)
                                                        {
                                                            <td style="width: 17.6705%; height: 18px;@txtAllign">
                                                                <div class="social-area">
                                                            @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                            {
                                                                        <a href="#" style="background-color:#00A7AC;color:white">@skill.TextِArabic</a>
                                                            }
                                                            else
                                                            {
                                                                        <a href="#" style="background-color:#00A7AC;color:white">@skill.Text</a>
                                                            }
                                                            </div>
                                                            </td>
                                                        }

                                                    

                                                   
                                                    </tr>
                                                }}
                                            
                                                <tr>
                                                
                                                <td style="width: 17.6705%;@txtAllign;" colspan="3" rowspan="8">
                                                    @if (Model.cvAttachments != null)
                                                    {

                                                        if (posterimg != null)
                                                        {
                                                            <br />
                                                            <img id="posterimg" src="@posterimg.Path" alt="EP7670594" class="mui-image-img  css-jlmoib" style="position: relative; width: 320px; height: 400px; object-fit: cover; transition-property: top, opacity; transition-duration: 320ms, 1500ms; transition-timing-function: cubic-bezier(0.7, 0, 0.6, 1); opacity: 1; top: 0px; border-radius: 2%; animation: 3000ms cubic-bezier(0.7, 0, 0.6, 1) 0s 1 normal none running materialize;width: 320px;height: 400px;">
                                                        }

                                                    }
                                                    </td>
                                                <td style="width: 13.0682%; text-align: @txtAllign;" colspan="3" rowspan="8">&nbsp;
                                                    @if (Model.cvAttachments != null)
                                                    {
                                                        if (passportimg is not null)
                                                        {
                                                            <br />
                                                            <img id="passportimg" src="@passportimg.Path" alt="EP7670594" class="mui-image-img  css-jlmoib" style="position: relative; width: 600px; height: 300px; object-fit: cover; transition-property: top, opacity; transition-duration: 320ms, 1500ms; transition-timing-function: cubic-bezier(0.7, 0, 0.6, 1); opacity: 1; top: 0px; border-radius: 2%; margin-top: 40px; animation: 3000ms cubic-bezier(0.7, 0, 0.6, 1) 0s 1 normal none running materialize;">
                                                        }

                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   
                   
                    
                    


                    <div class="col-lg-12">
                        <div class="section-title">
                            <h6></h6>
                            <div class="dash"></div>
                        </div>
                        <div class="declaration-area">
                            <h6>@localizer["DeclarationAndAuthentication"]</h6>
                            <p>@localizer["DeclarationAndAuthentication2"]</p>
                        </div>
                        <div class="gratitude-area">
                            <span>@localizer["YoursFaithful"]</span>
                            <h6>
                                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                {
                                    @Model.cv.CandidateNameArabic
                                }
                                else
                                {
                                    @Model.cv.CandidateNameEnglish
                                }

                            </h6>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<!-- ========== Dashboard Area end============= -->