@*<!-- ========== Login Area end============= -->
<div class="register-area pt-120 mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-wrapper">
                    <div class="form-title">
                        <h3>Update @Model.FirstName @Model.LastName Account Information</h3>
                        <span></span>
                    </div>
                    <div class="register-tab">

                        <div class="tab-content" id="nav-tabContent">
                            <form asp-action="EditUser" method="post">
                                <div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="FirstName"></label>
                                                <div class="input-area">
                                                    <img src="~/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" asp-for="FirstName" placeholder="First Name">
                                                </div>
                                                <span asp-validation-for="FirstName" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="LastName"></label>
                                                <div class="input-area">
                                                    <img src="~/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" asp-for="LastName" placeholder="Last Name">
                                                </div>
                                                <span asp-validation-for="LastName" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="FirstNameArabic"></label>
                                                <div class="input-area">
                                                    <img src="~/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" asp-for="FirstNameArabic" placeholder="First Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="LastNameArabic"></label>
                                                <div class="input-area">
                                                    <img src="~/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" asp-for="LastNameArabic" placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="UserName"></label>
                                                <div class="input-area">
                                                    <img src="~/assets/images/icon/user-2.svg" alt="">
                                                    <input type="text" asp-for="UserName" placeholder="Username">
                                                </div>
                                                <span asp-validation-for="UserName" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="Email"></label>
                                                <div class="input-area">
                                                    <img src="~/assets/images/icon/email-2.svg" alt="">
                                                    <input type="email" asp-for="Email" placeholder="info@example.com">
                                                </div>
                                                <span asp-validation-for="Email" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="PhoneNumber"></label>
                                                <div class="input-area">
                                                    <img src="~/assets/images/icon/phone-2.svg" alt="">
                                                    <input type="text" asp-for="PhoneNumber" placeholder="Phone Number">
                                                </div>
                                                <span asp-validation-for="PhoneNumber" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inner mb-25">
                                                <label asp-for="UserStatus"></label>

                                                <div class="input-area">
                                                    <img src="~/assets/images/icon/user.svg" alt="">
                                                    <select asp-for="UserStatus" class="select1">
                                                        <option value="">Select User Status</option>
                                                        <option value="True">Active</option>
                                                        <option value="False">Inactive</option>
                                                    </select>
                                                </div>
                                                <span asp-validation-for="UserStatus" class="alert-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-inner">
                                                <button class="primry-btn-2" type="submit">Update Account</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="form-wrapper">
                    <div class="form-title">
                        <h3> @Model.FirstName @Model.LastName Assigned Roles</h3>
                        <span></span>
                    </div>
                    <div class="register-tab">

                        <div class="tab-content" id="nav-tabContent">

                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div id="PlaceHolderHere"></div>
                                        @if (Model.Roles.Any())
                                        {
                                            @foreach (var role in Model.Roles)
                                            {
                                                <button class="eg-btn yellow-btn">@role</button>
                                            }
                                        }
                                        else
                                        {
                                            <h5 class="card-title">No Roles for @Model.UserName</h5>
                                        }
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-inner mb-25">

                                            <button class="primry-btn-2" type="button" data-toggle="ajax-modal" data-target="#addRole"
                                                    data-url="@Url.Action($"ManageUserRoles/{Model.Id}")">
                                                Manage Roles
                                            </button>

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========== Login Area end============= -->*@


<!-- ========== Dashboard Area end============= -->
@*<div class="dashboard-area pt-30 mb-120">
    <div class="container">
        <div class="row g-lg-4 gy-5 mb-90">
            <div class="col-lg-12">
                <div class="applied-job-area">
                    <div class="table-wrapper">

                        <div class="table-title-filter">
                            <div class="section-title">
                                <h5>
                                    All Root Companies:
                                    @if (AuthorizationService.AuthorizeAsync(User, "Permission-AddNewRootCompany").Result.Succeeded)
                                    {
                                        <a asp-controller="SuperAdmin" asp-action="AddNewRootCompany" class="primry-btn-2 w-unset">Add Root Company</a>
                                    }

                                </h5>
                            </div>
                        </div>
                        @if (Model.Any())
                        {
                            <table class="eg-table table category-table mb-30" id="tbl">
                                <thead>
                                    <tr>
                                        <th hidden>
                                            Id
                                        </th>
                                        <th>#</th>
                                        <th>
                                            Company Name
                                        </th>
                                        <th>
                                            City
                                        </th>
                                        <th>Address</th>
                                        <th>Logo</th>
                                        <th>
                                            Contact
                                        </th>
                                        <th>Comments</th>
                                        <th>Status</th>
                                        <th>Manage</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var root in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td hidden>@root.Id</td>
                                            <td>@i</td>
                                            <td>
                                                @root.RootCompanyName
                                            </td>
                                            <td>
                                                @root.RootCompanyCountryCityId
                                            </td>
                                            <td>@root.RootCompanyAddress</td>
                                            <td>@root.RootCompanyLogo</td>
                                            <td>@root.RootCompanyContacts</td>
                                            <td>@root.RootCompanyComments</td>
                                            <td>
                                                @if (@root.RootCompanyStatus == true)
                                                {
                                                    <text>Active</text>
                                                }


                                                @if (@root.RootCompanyStatus == false)
                                                {
                                                    <text>InActive</text>
                                                }

                                            </td>
                                            <td>
                                                <form method="post" asp-controller="SuperAdmin" asp-action="DeleteRootCompany" asp-route-id="@root.Id">

                                                    <a asp-action="EditRootCompany" asp-controller="SuperAdmin"
                                                       asp-route-id="@root.Id" class="btn btn-info text-white" style="cursor:pointer">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </a>

                                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete? : @root.RootCompanyName')">
                                                        <i class="bi bi-trash"></i>
                                                    </button>

                                                    @*<a class="btn" style="background-color: #00A7AC; color:white"
                                            asp-action="ChangeUserPassword" asp-route-id="@root.Id">
                                            Change Password
                                            </a>*@

<!-- ========== Dashboard Area end============= -->